* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'open sans', sans-serif;
	font-weight: bold;
}

.title {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 40px;
}

.input-search {
	width: 25%;
	appearance: none;
	border: 0;
	border-bottom: 1px solid black;
}

.button {
	appearance: none;
	border: 0;
	height: 25px;
	width: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
	background-color: #8A0829;
}
.list {
	margin-right: 20px;
	margin-left: 20px;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
}

.item-list {
	padding: 10px;
}

.item-title {
	margin: 5px;
	color: #8A0829;
	font-size: 25px;
}

.picture {
	margin: 5px;
}

.not-favorite {
background-color: #A9E2F3;
}

.favorite {
	background-color: #F5A9E1;
	border: 5px solid #8A0829;
}
